@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --primary: #202040;
    --secondary: #202060;
    --dark-pink: #602080;
    --light-pink: #B030B0;
    --white: #FFF;
    --light-grey: #e0e0e0;
    --darker-gray: #cccbcb;
    --gutter: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /*Truque para utilizar rem como pixel; ex: 1.5rem = 15px */
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    line-height: 1.8;
    font-size: 1.5rem;
}

.main-bg {
    background-image: url('../img/main-bg.svg');
    color: var(--white);
}

.main-content {
    max-width: 110rem;
    margin: 0 auto;
    padding: var(--gutter);
}

.page-section {
    min-height: 100vh;
}

.navbar {
    background-color: var(--white);
    color: var(--primary);
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid var(--light-grey);
    z-index: 1;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6rem;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar h1 {
    font-size: 2.3rem;
}

.navbar-links {
    display: flex;
}

.navbar-links li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: inherit;
    margin-left: 2rem;
    font-size: 1.6rem;
    position: relative;
}

.navbar-links li a::after {
    position: absolute;
    content: '';
    bottom: -0.3rem;
    left: 0;
    width: 1rem;
    height: 0.2rem;
    background: crimson;
    transition: all 200ms ease-in-out;
}

.navbar-links li a:hover::after {
    width: 100%;
}

.navbar-spacing {
    height: 6rem;
}

@media (max-width: 800px) {
    .navbar-links-wide {
        display: none;
    }
    .navbar-links li a {
        margin-left: 1rem;
        font-size: 1.2rem;
    }
}

.lead {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.lead-border {
    margin-top: 6rem;
    max-width: 100%;
    border: 2px solid crimson;
    position: relative;
    top: 6rem;
    height: fit-content;
    display: flex;
}

.lead-text {
    padding: 3rem;
}

.lead-text h2 {
    font-size: 6.5rem;
    margin-bottom: 2rem;
}

.lead-img {
    padding: 3rem;
}

.lead-img img {
    position: relative;
    top: 3.5rem;
    max-width: 42rem;
    max-height: 42rem;
}

@media (max-width: 1000px) {
    .lead-border {
        position: static;
        flex-direction: column;
    }
    .lead-text h2 {
        font-size: 4.3rem;
        margin-bottom: 2rem;
    }
    .lead-img {
        margin: 0 auto;
    }
    .lead-img img {
        position: relative;
        top: 2rem;
        max-width: 25rem;
        max-height: 25rem;
        padding-bottom: 3rem;
    }
}

.about {
    text-align: center;
    color: var(--primary);
    padding: 4rem;
}

.about h3 {
    margin-bottom: 4.5rem;
}

.about p {
    margin-bottom: 4.5rem;
}

.about p span {
    display: block;
    font-size: 2rem;
    font-weight: 700;
}

.types {
    text-align: center;
    padding: 4rem;
}

.types h3 {
    margin-bottom: 4rem;
}

.types h4 {
    margin-bottom: 3rem;
}

.types p {
    text-align: left;
}

.types-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gutter);
}

.grid-section {
    padding: 1rem;
}

.types-enum {
    filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(339deg) brightness(105%) contrast(100%);
    height: 4rem;
    width: 4rem;
    transform: rotate(15deg);
}

@media (max-width: 1000px) {
    .types-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: var(--gutter);
    }
}

.pricing {
    padding: 4rem;
    text-align: center;
    color: var(--primary);
}

.pricing h3 {
    margin-bottom: 3rem;
}

.responsive-table {
    margin-top: 6rem;
    font-size: 1.5rem;
    overflow-x: scroll;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table caption {
    text-align: left;
    font-size: 1rem;
}

.table thead {
    background-color: var(--light-grey);
}

.table td, .table th {
    white-space: nowrap;
    padding: 1rem;
    border: 0.1rem solid var(--darker-gray);
}

.gallery {
    margin-top: 4rem;
}

.gallery-text {
    text-align: center;
}

.gallery-text h3 {
    margin-bottom: 3rem;
}

.gallery-grid {
    margin-top: 4rem;
    display: grid;
    gap: var(--gutter);
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.gallery-img {
    transition: all 200ms ease-in-out;
}

.gallery-img:hover {
    transform: scale(1.05);
}

.gallery-img img {
    width: 100%;
    height: auto;
}

@media (max-width: 800px) {
    .gallery-grid {
        gap: 2rem 0;
    }
}

.contact {
    text-align: center;
    padding: 4rem;
    display: flex;
    flex-direction: column;
}

.contact-text h3 {
    margin-bottom: 3.5rem;
}

.contact-img {
    padding: 3rem;
}

.contact-img img {
    max-width: 30%;
    max-height: auto;
}

.contact-form {
    margin-top: 4rem;
    font-size: 1.5rem;
}

.contact-form fieldset {
    text-align: left;
    border: 2px solid var(--primary);
    padding: 2.5rem;
}

.contact-form fieldset legend {
    padding: 0 1rem;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid var(--primary);
    outline: none;
}

.form-control {
    margin: 2rem;
}

.form-group input:focus {
    border: 2px solid var(--primary);
}

.form-group button {
    font-weight: bold;
    margin-top: 1rem;
    padding: 1rem;
    cursor: pointer;
    background: none;
    border: 2px solid var(--primary);
}

.form-group button:hover {
    box-shadow: 0 0 2px var(--primary);
}

@media (max-width: 1000px) {
    .contact-img img {
        max-width: 40%;
        max-height: auto;
    }
}

@media (max-width: 700px) {
    .contact-img {
        padding: 0;
    }
    .contact-img img {
        width: 100%;
    }
    .contact-form fieldset {
        padding: 0;
    }
}

footer {
    text-align: center;
    background-color: var(--primary);
    color: #FFF;
}

footer a:visited {
    color: white;
}

.hamburger-icon {
    display: block;
    font-size: 2rem;
    padding-top: 1.5rem;
    align-self: flex-start;
    color: inherit;
}

.mobile-links {
    display: none;
}

.mobile-links ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid var(--light-grey);
    padding: 1.5rem;
    min-height: 20rem;
}

.mobile-links ul li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: inherit;
    font-size: 1.6rem;
    position: relative;
}

.mobile-links ul li a::after {
    position: absolute;
    content: '';
    bottom: -0.3rem;
    left: 0;
    width: 1rem;
    height: 0.2rem;
    background: crimson;
    transition: all 200ms ease-in-out;
}

.mobile-links ul li a:hover::after {
    width: 100%;
}

@media (min-width: 800px) {
    .hamburger-icon {
        display: none;
    }
}

@media (max-width: 400px) {
    .lead-text h2 {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    h3 {
       font-size: 3.5rem;
    }
}

@media (max-width: 320px) {
    .lead-text h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    .lead-img {
        padding: 0;
    }
}

